* {
  margin-left: 45px;
  margin-right: 45px;
  text-align: justify;
  font-family: 'Times New Roman', Times, serif;

}

input {
  background: none!important;
  border: none;
  padding: 0!important;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: 100%;
}

p {

}