* {
  margin-left: 40px;
  margin-right: 40px;
  text-align: justify;
  font-family: 'Segoe UI', Times, serif;
  font-size: 1.07em;

}

input {
  background: none!important;
  border: none;
  padding: 0!important;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: 100%;
}